body{
  background-color:#070713;
}
.cont__block {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items:center;
  margin:auto;
}
.comm-item{
  display:flex;
  background-color:#1f2b4f;
  margin-top:10px;
}
.comm-left{
  width:20%;
  padding:20px;
}
.comm-right{
  width:80%;
  position:relative;
}
.comm-image{
  width:100%;
  border-radius:50%;
  max-width:300px;
}
.comm-like{
  position:absolute;
  top:5px;
  right:10px;
  display:flex;
  flex-flow:column nowrap;
  font-size:12px;
}
.comm__like-img{
  width:3vh;
}
.comm-data{
  color:aliceblue;
}